.modal-backdrop {
    background: rgba(0, 0, 0, 1);
    
}

.modal-content .modal-footer {
    justify-content: flex-end;
}

.modal .modal-header .close {
    color: green;
}

.cc-effect:hover {
    cursor: pointer;
}
.cc-effect .title {
    font-weight: 400;
}
.cc-effect .content {
    display: none;
}

#projectDetailModal .modal-body .content {
    /* white-space: pre-line */
    margin-top: 20px;
}

#projectDetailModal .modal-body .content .indent {
    text-indent: 20px;
}

@media (min-width: 992px){
    .modal-lg {
        /* max-width: 600px; */
    }
}
